{% extends 'monitoring/base.html' %}
{% load material_form core_tags %}

{% block content %}
    <table width="100%" class="bordered centered">
        <colgroup>
            <col width="10%">
            <col width="10%">
            <col width="20%">
            <col width="20%">
            <col width="15%">
        </colgroup>
        <thead>
        <tr>
            <th>Worker</th>
            <th>Type</th>
            <th>Part</th>
            <th>Serial</th>
            <th class="right">Last Update</th>
        </tr>
        </thead>
        <tbody>
        {% for part in parts %}
            <tr {% if part.broken %}class="red lighten-5" {% endif %}>
                <td>
                    {% with part|get_worker as worker %}
                        {% if worker %}
                            <a href="{% url 'worker_details_info' pk=worker.pk %}">{{ worker.name }}</a>
                        {% else %}
                            ---
                        {% endif %}
                    {% endwith %}
                </td>
                <td>{% if part.broken %}
                    <i class="material-icons red-text {% if part.comment %}tooltipped{% endif %}"
                       style="font-size: 0.8em" data-position="right" data-delay="50"
                       {% if part.comment %}data-tooltip="{{ part.comment }}"{% endif %}>build</i>
                {% endif %}
                    {{ part.type }}
                </td>
                <td>{{ part.part }}</td>
                <td>{{ part.serial }}</td>
                <td class="right">{{ part.last_update }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br><br><br><br>
    <!-- Modal Trigger -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red modal-trigger" href="#modal1">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <form method="POST" class="post-form">
            <div class="modal-content">
                <h4>New part</h4>
                {% csrf_token %}
                {% form form=form %}{% endform %}
            </div>
            <div class="modal-footer">
                <button type="submit" class="modal-action waves-effect waves-green btn">Accept</button>
                <button type="reset" class="modal-action modal-close waves-effect waves-green btn">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}
